* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Nunito', sans-serif !important;
}

h1 {
    color: #2196F3;
    font-size: 2.1rem !important;
    font-family: 'Nunito', sans-serif;
}

h1::after {
    content: url(../icon/blue-line-small.png);
    display: block;
    position: relative;
    top: -20px;
}

.container-fluid{
    width: 100%;
    /* padding-right: 50px !important;
    padding-left: 50px !important; */
    margin-right: auto;
    margin-left: auto;
}
h4::after {
    content: url(../icon/blue-line-small.png);
    display: block;
    position: relative;
    top: -6px;
}

.controls {
position: relative;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.carousel-item img {
    height: 700px;
    object-fit: cover;
    object-position: top;
}

.slider-menu {
    background-color: transparent !important;
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.v-carousel__controls {
    display: none !important;
}

.v-carousel {
    height: 700px !important;
}

.v-window__container {
    height: 700px !important;
}

.v-window-item {
    height: 700px !important;
}

.v-responsive {
    height: 700px !important;   
}

.v-image__image--cover {
    background-position: top !important;
}

.v-application--wrap {
    min-height: unset !important;
}

#menu {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 90px;
}

.custom-title {
    top: 0px !important;
}

.contact_form {
    width: 100% !important;
}

.alert ul li {
    list-style-type: none;
}

.v-counter {
    color: #2196F3 !important;
}

.v-toolbar__content {
    height: 90px !important;
}

.default-button {
    background-color: #2196F3 !important;
    color: white !important;
    text-transform: none;
    font-size: 1rem !important;
}

.main-color {
    background-color: #2196F3 !important;
}

.header-title {
    position: relative;
    top: 0px;
    left: 5px;
    color: white;
    font-size: 3.2rem;
    font-family: 'Caveat Brush', cursive;
}

.v-window__next, .v-window__prev {
    display: none !important;
}

#menu {
    background: transparent;
}

.ce_menu span {
    color: #2196F3;
}
header {
    background: transparent;
}

.header-menu {
    background: transparent !important;
}

.v-toolbar {
    box-shadow: none;
}

.menu-items {
    color: white !important;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.6rem !important;
}

.content_container {
    padding: 50px;
}

.holidaypark-title {
    font-weight: 700;
}

.holidaypark-card {
    display: inline-block !important;
    /* width: calc(25% - (15px * 3) / 4);
    margin-right: 15px; */
    float: left;
    margin-bottom: 25px;
}

.holidaypark-card:nth-child(4n+0) {
    margin-right: 0;
}

.chalet-add-btn {
    display: block !important;
    width: 25%;
}

#footer {
    margin-top: 25px;
    width: 100%;
    float: left;
}

.holidaypark-btn {
    width: 48%;
}

.holidaypark-edit {
    float: right;
    width: 48%;
}

.holidaypark-delete {
    width: 100%;
    margin-top: 10px;
}

.holidaypark-description {
    height: 100px;
}

.chalet-text {
    width: 50%;
    float: left;
}

.maps {
    width: 50%;
    float: right;
}

.chalet-buttons {
    width: 50%;
    float: left;
    display: block;
    margin-top: 25px;
}

.chalet-edit-btn {
    width: 46%;
    display: inline-block;
    float: left;
}

.chalet-delete-btn {
    width: 46%;
    display: inline-block;
    float: right;
    margin-right: 25px;
}

.chalet-card {
    margin-bottom: 25px;
}

.add-btn-chalets {
    margin-bottom: 15px;
}

.chalet-title {
    font-weight: 800;
    font-size: 30px;
}

.card {
    border-radius: 10px !important;
}

.filter {
    float: right;
}

.filter p {
    display: inline-block;
    padding-right: 10px;
}

.detail-image {
    display: block;
    width: 300px;
    height: 200px;
}

.noPadding {
    padding: 0px;
}

.carousel-item img {
    height: 425px !important;
    object-position: center !important;
}

.custom-menu {
    position: fixed !important;
}

.footer-item {
    margin-right: 15px;

}

.custom-padding-top {
    padding: 100px 25px 25px 25px !important;

}