.v-carousel__controls {
	display: none !important;
}

.v-carousel {
	height: 650px !important;
}

.v-window__container {
    height: 650px !important;
}

.v-window-item {
    height: 650px !important;
}

.v-responsive {
    height: 650px !important;	
}

.v-image__image--cover {
	background-position: top !important;
}

.v-application--wrap {
	min-height: unset !important;
}